/.idea/
/.settings/
/src/main/lombok/lombok.config
/src/test/lombok/lombok.config
/src/lombok.config
/target/
/.checkstyle
/.classpath
/.project
/*.iml
/bin/

*.class

.classpath
.project
.settings/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
swagger-diff.iml
testDiff.html
testDiff.md
testDeprecatedApi.html
testNewApi.html

