<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <title>Changelog</title>
  <script type="text/javascript">function showHide(id){if(document.getElementById(id).style.display=='none'){document.getElementById(id).style.display='block';document.getElementById('btn_'+id).innerHTML='&uArr;';}else{document.getElementById(id).style.display='none';document.getElementById('btn_'+id).innerHTML='&dArr;';}return true;}</script>
  <link rel="stylesheet" href="http://deepoove.com/swagger-diff/stylesheets/demo.css" />
 </head>
 <body>
  <header>
   <h1>$title</h1>
  </header>
  <div class="article">
   <div>
    <h2>What's New<a id="btn_new" class="showhide" href="#" onclick="javascript:showHide('new');">⇑</a></h2>
    <hr />
    <ol id="new">
     #foreach( $newEndpoint in $newEndpoints )
	    <li><span class="$newEndpoint.method">$newEndpoint.method</span>
	    $newEndpoint.pathUrl
	    <span> $newEndpoint.summary</span></li>
	 #end
    </ol>
   </div>
   <div>
    <h2>What's Deprecated<a id="btn_deprecated" class="showhide" href="#" onclick="javascript:showHide('deprecated');">⇑</a></h2>
    <hr />
    <ol id="deprecated">
     #foreach( $missingEndpoint in $missingEndpoints )
	    <li>
		    <span class="$missingEndpoint.method">$missingEndpoint.method</span>
	        <del>$missingEndpoint.pathUrl</del>
	        <span> $missingEndpoint.summary</span>
        </li>
	 #end
    </ol>
   </div>
   <div>
    <h2>What's Changed<a id="btn_changed" class="showhide" href="#" onclick="javascript:showHide('changed');">⇑</a></h2>
    <hr />
    <ol id="changed">
     #foreach( $changedEndpoint in $changedEndpoints )
	    <li>
	      #foreach($method in ${changedEndpoint.changedOperations.keySet()}) 
	      	  #set( $operation = ${changedEndpoint.changedOperations.get($method)} ) 
	      	  <span class="$method">$method</span>$changedEndpoint.pathUrl<span> $operation.summary</span>
		      <ul class="detail">
		      #if( ${operation.isDiffParam()} )
		      	<li><h3>Parameter</h3>
		        <ul class="change param">
		        	#foreach( $addParams in $operation.addParameters )
		        	<li>Add ${addParams.getName()}
		        	#if( !${addParams.getDescription()} )
		        		<span class="comment">// ${addParams.getDescription()}</span>
		        	#end
		        	</li>
		        	#end
		        	
		        	#foreach( $changedParam in $operation.changedParameter )
		        		#foreach( $addProp in $changedParam.increased )
		        			<li>Add $addProp.el
				        	#if( !${addProp.getProperty().getDescription()} )
				        		<span class="comment">// ${addProp.getProperty().getDescription()}</span>
				        	#end
				        	</li>
		        		#end
		        		
		        		#if (${changedParam.isChangeRequired()} || ${changedParam.isChangeDescription()})
		        			<li>petId change into 
		        			#if (${changedParam.isChangeRequired()})
		        			required
		        			#else
		        			not required
		        			#end 
		        			#if (${changedParam.isChangeDescription()})
		        			Notes 
					          <del class="comment">
					           ${getRightParameter.getLeftParameter().getDescription()}
					          </del> change into <span><span class="comment">${getRightParameter.getRightParameter().getDescription()}</span></span></li>
		        			#end 
		        		#end
		        		
		        		#foreach( $missingProp in $changedParam.missing )
		        			#set( $property = ${missingProp.getProperty()} ) 
		        			<li class="missing">Delete
				            <del>
				            $missingProp.el ${property.getDescription()}$property.getDescription()$property.description
				            </del>
				            #if( !${missingProp.property.getDescription()} )
				        		<span class="comment">// ${missingProp.property.getDescription()}</span>
				        	#end
				            </li>
		        		#end
		        	#end
		        	
		        	#foreach( $missingParams in $operation.missingParameters )
		        	<li class="missing">Delete
		            <del>
		            ${missingParams.getName()}
		            </del>
		            #if( !${missingParams.getDescription()} )
		        		<span class="comment">// ${missingParams.getDescription()}</span>
		        	#end
		            </li>
		        	#end
		        </ul>
		        </li>
		        #if( ${operation.isDiffProp()} )
		        	<li><h3>Return Type</h3>
			        <ul class="change response">
			        	#foreach( $addProp in $operation.addProps )
		        			<li>Add $addProp.el
				        	#if( !${addProp.getProperty().getDescription()} )
				        		<span class="comment">// ${addProp.getProperty().getDescription()}</span>
				        	#end
				        	</li>
		        		#end
		        		#foreach( $missingProp in $operation.missingProps )
		        			<li class="missing">Delete
				            <del>
				            $missingProp.el
				            </del>
				            #if( !${missingProp.property.getDescription()} )
				        		<span class="comment">// ${missingProp.property.getDescription()}</span>
				        	#end
				            </li>
		        		#end
			        </ul>
			        </li>
		        #end
		      </ul>
		   #end
		  #end 
		  </li>
	 #end
    </ol>
   </div>
  </div>
 </body>
</html>